<body>
    <main>
    <div> 
        <h1>Musical Madness Connections Site</h1>
        <p> Attend and create music events with people. If you are looking to discover new music, host listening parties or just 
            discuss musical instruments. Check out the Connections section to browse all of the available connections!  </p>
    </div>
    </main>
    </body>